<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>my record</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">home</a>
                <a href="/allCountries">all countries</a>
                <a href="">my records</a>
            </nav>
        </header>
        <main>
            <section>
                <% rows.forEach(item=>{%>
                <div>
                    <h2>country: <%= item.country %></h2>
                    <p>totalConfirmed <%= item.totalConfirmed %></p>
                    <p>totalDeaths <%= item.totalDeaths %></p>
                    <p>totalRecovered <%= item.totalRecovered %></p>
                    <p>date <%= item.date %></p>
                    <br />
                    <a href="/details?country=<%= item.country %>">details</a>
                </div>
                <%}) %>
            </section>
        </main>
    </body>
</html>
